html, body{
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  black;
  width: 100vw;
  height: 100vh;;
}
canvas{
  background-image: url('game.jpg');
  background-size:  cover;
  background-attachment:  fixed;
}
button{
  color: lime;
  z-index: 2;
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 100vw;
  text-align: center;
  font-size: 3vw;
  font-weight: 900;
  min-width: 5vw;
  opacity: 1;
}
#button{
  position: absolute;
  bottom: 0;
  left: 30vw;
  min-width: 40vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  opacity: .7;
  border-radius: 100vw;
}
#timer{
  color: lime;
  text-align: center;
}
p{
  color: white;
  font-variant: small-caps;
  font-size: 40px;
  height: 100vh;
  display:  flex;
  align-items: center;
  justify-content:  center;
}
.hide{
  display: none;
}
@media only screen and (max-width: 600px){
  #button{
    min-width: 60vw;
    left: 20vw;
  }
  button{
    min-width: 7vw;
    font-size: 7vw;
  }
}
